
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutVNGL.cshtml";
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

<div class="left_menu">
    <ul id="nav_dot">
        <li>
            <h4 class="M1"><span></span>时事新闻管理</h4>
            <div class="list-item none">
                <a href="/NewsVNGL/Index" data-ajax-update="#main" data-ajax="true">新闻列表</a>
                <a href="/NewsVNGL/NewsAdd" data-ajax-update="#main" data-ajax="true">编辑新闻</a>
            </div>
        </li>
        <li>
            <h4 class="M2"><span></span>专家评议管理</h4>
            <div class="list-item none">
                <a href="/WriterVNGL/Index" data-ajax-update="#main" data-ajax="true">评议列表</a>
                <a href="/WriterVNGL/WriterCommunAdd" data-ajax-update="#main" data-ajax="true">编辑评议</a>
                <a href="/WriterVNGL/Writer" data-ajax-update="#main" data-ajax="true">专家管理</a>
            </div>
        </li>
        <li>
            <h4 class="M3"><span></span>用户管理</h4>
            <div class="list-item none">
                <a href="/UserVNGL/Index" data-ajax-update="#main" data-ajax="true">用户列表</a>
                <a href="/UserVNGL/UserText" data-ajax-update="#main" data-ajax="true">社区文章审议</a>
            </div>
        </li>
        <li>
            <h4 class="M4"><span></span>责任编辑管理</h4>
            <div class="list-item none">
                <a href="/EditorVNGL/Index" data-ajax-update="#main" data-ajax="true">责任编辑列表</a>
                <a href="/EditorVNGL/EditorAdd" data-ajax-update="#main" data-ajax="true">添加责任编辑</a>
            </div>
        </li>
    </ul>
</div>
<div class="m-right">
    <div class="main">
        <section id="main">
        </section>
    </div>
</div>

