
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑添加</title>
    <style>
        .news {
            margin: 1em;
        }

        .juli {
            margin-top: 2em;
            margin-left: 2em;
        }

        label {
            font-size: 20px;
        }

        #NewsTitle {
            width: 800px;
        }
    </style>
</head>
<body>
    <div>
        <div class="news">
            <h2>编辑添加</h2>
            <div class="juli">
                <form>
                    <div class="form-group">
                        <label for="EditorAccount">责任编辑账号</label>
                        <input type="text" class="form-control" name="EditorAccount" id="EditorAccount">
                    </div>
                    <div class="form-group">
                        <label for="EditorPwd">责任编辑密码</label>
                        <input type="text" class="form-control" name="EditorPwd" id="EditorPwd">
                    </div>
                    <div class="form-group">
                        <label for="EditorName">责任编辑名字</label>
                        <input type="text" class="form-control" name="EditorName" id="EditorName">
                    </div>

                    <button type="submit" class="btn btn-default">添加</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

