
@{
    ViewBag.Title = "Writer";
    Layout = "~/Views/Shared/_LayoutVNGL.cshtml";
    <style>
        .news {
            margin-top: 1em;
            margin-left: 2em;
            width: 95%;
        }

        .juli {
            margin: 1em;
            vertical-align: middle;
        }

        .writer_tu_image {
            background-color: white;
            width: 45px;
            height: 50px;
            overflow: hidden;
            float: left;
        }

            .writer_tu_image img {
                height: 50px;
                margin: 0 calc(50% - 30px);
            }
    </style>
}
@using ViewNews.Models
@{
    List<Writer> wri = ViewBag.zuojia;

}
<div class="crumb-wrap">
    <div class="crumb-list"><i class="icon-font"></i><a href="/LoginVNGLGD/Index">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/WriterVNGLGD/Writer">专家列表</a></div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <div class="news">
            <h2>作家列表</h2>
            <div class="juli">
                <table class="insert-tab" width="100%">
                    <tr>
                        <td>作家名字</td>
                        <td>作家头像</td>
                        <td>作家职称</td>
                        <td>操作</td>
                    </tr> @foreach (var item in wri)
                    {
                        <tr class="warning">
                            <td>@item.WriterName</td>
                            <td>
                                <div class="writer_tu_image">
                                    <img src="~/Content/WriterImage/Men/@item.WriterImage" />
                                </div>
                            </td>
                            <td>@item.WriterPosition</td>
                            <td>
                                <a href="/WriterVNGLGD/WriterAdd" class="btn btn-info">添加</a>
                                <a href="/WriterVNGLGD/WriterZuoJiaEdits/?WriterID=@item.WriterID" class="btn btn-primary">修改</a>
                                <a href="/WriterVNGLGD/WriterZuoJiaDel?WriterID=@item.WriterID" onclick="return confirm('确定删除 @item.WriterName  吗')" class="btn btn-warning">删除</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

