<!DOCTYPE html>
@using ViewNews.Models
@{
    NewsUser user = Session["userLogin"] as NewsUser;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/css/reset.css" rel="stylesheet" media="all" />
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/css/nivoslider.css" rel="stylesheet" media="all" />
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/css/prettyPhoto.css" rel="stylesheet" media="screen" />
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/style.css" rel="stylesheet" media="screen" />
    <link href="~/HelpSSS/一个新闻模板/xinwenmoban/css/responsive.css" rel="stylesheet" media="all" />

    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery-1.7.1.min.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery.nivo.slider.pack.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery.carouFredSel-5.6.2.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery.prettyPhoto.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery.sticky.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/jquery-scroller-v1.min.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/kendo.web.min.js"></script>
    <script src="~/HelpSSS/一个新闻模板/xinwenmoban/js/custom.js"></script>

    <style>
        #yonghu {
            text-decoration:none;
        }
       
            #yonghutu img {
                border: 1px solid darkgrey;
            }
        #yonghutu:hover {
            color: firebrick;
        }
        .writer_tu_user {
            background-color: white;
            width: 26px;
            height: 26px;
            overflow: hidden;
            float: left;
            text-align: center;
        }

            .writer_tu_user img {
                width: 26px;
                margin: 0 auto;
            }
        #outLogin a{
            text-decoration: none;
        }
    </style>
</head>
<body class="sub-1sidebar">
    <header id="header">
        <div id="header-top">
            <div class="wrapper clearfix">
                <div id="welcome">
                    欢迎来到视野新闻网!
                </div><!--end:welcome-->
                <nav id="top-nav">
                    <ul id="top-menu" class="clearfix">
                        <li class="current-menu-item">
                            @if (Session["userLogin"] == null)
                            {
                                <a href="/LoginVNKH/LoginUser">登录/注册</a>
                            }
                            else
                            {
                                <a href="/UserVNKH/UserXiangxiKeHu/?UserID=@user.NewsUserID" id="yonghu">
                                    <div id="yonghutu">
                                            <div class="writer_tu_user">
                                                <img src="~/Content/imageKeHu/User/@user.NewsUserImage" />
                                            </div>
                                        @user.NewsUserName
                                    </div>
                                </a>
                            }

                        </li>
                        @if (Session["userLogin"] == null)
                        {

                        }
                        else
                        {
                            <li class="current-menu-item" id="outLogin">
                                <a href="/LoginVNKH/OutLogin">
                                    <div id="yonghutu">
                                        注销
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </nav><!--end:top-nav-->
            </div><!--wrapper-->
        </div><!--header-top-->
        <div id="header-middle">
            <div class="wrapper clearfix">
                <div id="logo-image">
                    <a href="/NewsVNKH/Index">
                        <img src="~/Content/imageKeHu/UI/视野新闻网logo.png" alt="logo" width="200" />
                    </a>
                </div>
            </div><!--wrapper-->
        </div><!--header-middle-->
        <div id="navigation">
            <nav id="secondary-menu" class="wrapper clearfix">
                <ul class="clearfix" id="main-nav">
                    <li><a href="/NewsVNKH/Index">时事新闻</a></li>
                    <li>
                        <a href="/WriterVNKH/Index">专家评议</a>
                        @if (Session["userLogin"] == null)
                        {
                    <ul>
                        <li><a href="/LoginVNKH/LoginUser">需要登录才可观看 点击登录</a></li>
                    </ul>
                        }
                        
                    </li>
                    <li>
                        <a href="/UserVNKH/Index">用户社区</a>
                    </li>
                </ul><!--end:main-nav-->
            </nav><!--end:secondary-menu-->
        </div><!--navigation-->
    </header>
    <div class="wrapper">
        @RenderBody()
    </div>
</body>
</html>
