<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台模板管理系统</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="top"></div>
    <div id="header">
        <div class="logo">***后台管理系统</div>
        <div class="navigation">
            <ul>
                <li>欢迎您！</li>
                <li><a href="">张山</a></li>
                <li><a href="">修改密码</a></li>
                <li><a href="">设置</a></li>
                <li><a href="">退出</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div class="bottom"></div>
    <div id="footer"><p>Copyright©  2015 版权所有 京ICP备05019125号-10  来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p></div>
    <script>navList(12);</script>
</body>
</html>
