<!DOCTYPE html>
@*@using ViewNews.Models
@{ 
    Editor edi = Session["Editors"] as Editor;
}*@
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>视野新闻网后台管理系统</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="top"></div>
    <div id="header">
        <div class="logo">视野新闻网后台管理系统</div>
        <div class="navigation">
            <ul>
                <li>欢迎您！</li>
                <li><a href="">@*@edi.EditorName*@</a></li>
                <li><a href="/LoginVNGL/Login">退出</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div class="bottom"></div>
    <div id="footer"><p>Copyright©  2015 版权所有 京ICP备05019125号-10 </p></div>
    <script>navList(12);</script>
</body>
</html>
