
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>专家添加</title>
    <style>
        .news {
            margin: 1em;
        }

        .juli {
            margin-top: 2em;
            margin-left: 2em;
        }

        label {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div>
        <div class="news">
            <h2>专家添加</h2>
            <div class="juli">
                <form action="/WriterVNGL/WriterAdd" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="WriterName">作家名字</label>
                        <input type="text" class="form-control" name="WriterName" id="WriterName">
                    </div>

                    <div class="form-group">
                        <label for="WriterImage">作家头像</label>
                        <input type="file" name="WriterImage" id="WriterImage">
                    </div>
                    <div class="form-group">
                        <label for="WriterPosition">作家职称</label>
                        <input type="text" class="form-control" name="WriterPosition" id="WriterPosition">
                    </div>
                    
                    <button type="submit" class="btn btn-default">添加</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>