
@{
    Layout = null;
}
@using ViewNews.Models
@{
    List<Writer> wri = ViewBag.zuojia;

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>作家列表</title>
    <style>
        .news {
            margin-top: 1em;
            margin-left: 2em;
            width: 95%;
        }

        .juli {
            margin: 1em;
            vertical-align: middle;
        }
        .writer_tu_image {
            background-color: #FF0000;
            width: 45px;
            height: 50px;
            overflow: hidden;
            float: left;
        }

            .writer_tu_image img {
                height: 50px;
                margin: 0 calc(50% - 30px);
            }
    </style>
</head>
<body>
    <div>
        <div class="news">
            <h2>作家列表</h2>
            <div class="juli">
                <table class="table table-hover">
                    <tr>
                        <th>作家名字</th>
                        <th>作家头像</th>
                        <th>作家职称</th>
                        <th>操作</th>
                    </tr> @foreach (var item in wri)
                    {
                <tr class="warning">
                    <td>@item.WriterName</td>
                    <td>
                        <div class="writer_tu_image">
                            <img src="~/Content/WriterImage/Men/@item.WriterImage"/>
                        </div>
                    </td>
                    <td>@item.WriterPosition</td>
                    <td>
                        <a href="/WriterVNGL/WriterZuoJiaEdits/?WriterID=@item.WriterID" class="btn btn-primary">修改</a>
                        <a href="/WriterVNGL/WriterZuoJiaDel?WriterID=@item.WriterID" onclick="return confirm('确定删除 @item.WriterName  吗')" class="btn btn-warning">删除</a>
                    </td>
                </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
