
@{
    Layout = null;
}
@using ViewNews.Models
@{
    Editor edi = Session["Editors"] as Editor;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>评议编辑</title>
    
    <link href="~/Content/XiaLaKuang/jquery.searchableSelect.css" rel="stylesheet" />
    <script src="~/Scripts/XiaLaKuang/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/XiaLaKuang/jquery.searchableSelect.js"></script>
    <style>
        .news {
            margin: 1em;
        }

        .juli {
            margin-top: 2em;
            margin-left: 2em;
        }

        label {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div>
        <div class="news">
            <h2>评议编辑</h2>
            <div class="juli">
                <form action="/WriterVNGL/WriterCommunAdd" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="WCTitle">作家文章标题</label>
                        <input type="text" class="form-control" name="WCTitle" id="WCTitle">
                    </div>

                    <div class="form-group">
                        <label for="WCImage">作家文章封面图片</label>
                        <input type="file" name="WCImage" id="WCImage">
                    </div>
                    <div class="form-group">
                        <label for="WCContent">作家文章内容</label>
                        <textarea class="form-control" name="WCContent" id="WCContent" rows="3">这里要改成富文本的</textarea>
                    </div>
                    <div class="form-group">
                        <label for="WriterID">作家</label>
                        <br />
                        <select name="WriterID">
                            @foreach (var item in ViewBag.writers as List<Writer>)
                            {
                                <option value="@item.WriterID">@item.WriterName</option>
                            }
                        </select>
                        <script>
                            $(function () {
                                $('select').searchableSelect();
                            });
                        </script>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="WCTime" id="WCTime">
                        <input type="hidden" name="WCClick" id="WCClick" value="0">
                        <input type="hidden" name="EditorID" id="EditorID" value="@edi.EditorID">
                    </div>

                    <button type="submit" class="btn btn-default">添加</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
