
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新闻列表</title>
<style>
    .news {
    margin-top:1em;
    margin-left:2em;
    width:95%;
    }
    .juli {
        margin: 1em;
        vertical-align: middle;
    }
</style>
</head>
<body>
    <div> 
        <div class="news">
            <h2>新闻列表</h2>
            <div class="juli">
                <table class="table table-hover">
                    <tr>
                        <th>新闻标题</th>
                        <th>新闻封面图片</th>
                        <th>新闻内容</th>
                        <th>发表时间</th>
                        <th>点击数</th>
                        <th>责任编辑</th>
                        <th>操作</th>
                    </tr>
                    <tr class="success">
                        <td>新闻标题</td>
                        <td>新闻封面图片</td>
                        <td>新闻内容</td>
                        <td>发表时间</td>
                        <td>点击数</td>
                        <td>责任编辑</td>
                        <td>
                            <a href="#" class="btn btn-success">详情</a>
                            <a href="#" class="btn btn-warning">删除</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</body>
</html>
