
@{
    ViewBag.Title = "EditorAdd";
    Layout = "~/Views/Shared/_LayoutVNGL.cshtml";
    <style>
        .news {
            margin: 1em;
        }

        .juli {
            margin-top: 2em;
            margin-left: 2em;
        }

        label {
            font-size: 20px;
        }

        #NewsTitle {
            width: 800px;
        }

        #EditorAccount-error {
            color: red;
        }

        #EditorPwd-error {
            color: red;
        }

        #EditorName-error {
            color: red;
        }
    </style>
}

<div class="crumb-wrap">
    <div class="crumb-list"><i class="icon-font"></i><a href="/LoginVNGLGD/Index">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/EditorVNGLGD/Index">责任编辑列表</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="">责任编辑添加</a></div>
</div>
<div class="result-wrap">
    <div class="result-content">

        <div class="juli">
            <form action="/EditorVNGLGD/EditorAdd" method="post" id="form1">

                <table class="insert-tab" width="100%">
                    <tbody>
                        <tr>
                            <th width="120"><i class="require-red">*</i>责任编辑账号：</th>
                            <td>
                                <input type="text" class="form-control" name="EditorAccount" id="EditorAccount" placeholder="请输入6-12个字符">
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>责任编辑密码：</th>
                            <td>
                                <input type="text" class="form-control" name="EditorPwd" id="EditorPwd" placeholder="请输入6-12个字符">
                            </td>
                        </tr>
                        <tr>
                            <th>责任编辑名字：</th>
                            <td><input type="text" class="form-control" name="EditorName" id="EditorName"></td>
                        </tr>

                        <tr>
                            <td>
                                <input type="submit" class="btn btn-default" value="添加">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">
    $(function () {
        $("#form1").validate({
            rules: {
                EditorAccount: { required: true, rangelength: [6, 12]},
                EditorPwd: { required: true, rangelength: [6, 12]},
                EditorName: { required: true }
            },
            messages: {
                EditorAccount: { required: "必填", rangelength:"请输入6-12个字符" },
                EditorPwd: { required: "必填", rangelength: "请输入6-12个字符"},
                EditorName: { required: "必填" }
            }
        })
    })
</script>
