
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户列表</title>
    <style>
        .news {
            margin-top: 1em;
            margin-left: 2em;
            width: 95%;
        }

        .juli {
            margin: 1em;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div>
        <div class="news">
            <h2>用户列表</h2>
            <div class="juli">
                <table class="table table-hover">
                    <tr>
                        <th>用户账号</th>
                        <th>用户密码</th>
                        <th>用户昵称</th>
                        <th>用户头像</th>
                        <th>用户性别</th>
                        <th>用户个性签名</th>
                        <th>操作</th>
                    </tr>
                    <tr class="info">
                        <td>用户账号</td>
                        <td>用户密码</td>
                        <td>用户昵称</td>
                        <td>用户头像</td>
                        <td>用户性别</td>
                        <td>用户个性签名</td>
                        <td>
                            <a href="#" class="btn btn-primary">查看</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
