
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>视野新闻网后台管理系统登录</title>
    <link href="~/HelpSSS/简单通用文章系统后台管理模板/css/admin_login.css" rel="stylesheet" />
</head>
<body>
    <div class="admin_login_wrap">
        <h1>后台管理</h1>
        <div class="adming_login_border">
            <div class="admin_input">
                <form action="/LoginVNGLGD/VNGLGLogin" method="post">
                    <ul class="admin_items">
                        <li>
                            <label for="user">用户名：</label>
                            <input type="text" name="EditorAccount" id="EditorAccount" size="40" class="admin_input_style" />
                        </li>
                        <li>
                            <label for="pwd">密码：</label>
                            <input type="password" name="EditorPwd" id="EditorPwd" size="40" class="admin_input_style" />
                        </li>
                        <li>
                            <input type="submit" tabindex="3" value="提交" class="btn btn-primary" />
                            @if (ViewBag.tishi != null)
                            {
                                <div class="btn-group" style="color:red;">
                                    @ViewBag.tishi
                                </div>
                            }
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
