
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutVNKH.cshtml";
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .daxiao {
            width: 1090px;
        }

        .row a {
            text-decoration: none;
        }

        .thumbnail:hover {
            box-shadow: 0px 0px 10px #888888;
        }

        .writer_tu_image {
            background-color: white;
            width: 240px;
            height: 180px;
            overflow: hidden;
            float: left;
            text-align: center;
        }

            .writer_tu_image img {
                height: 180px;
                margin: 0 auto;
            }
    </style>
}
<div class="sub-search-box clearfix">
    <form action="#" class="search-form" method="post">
        <input type="text" placeholder="请输入搜索的标题" name="s" class="search-text" />
        <input type="submit" value="" name="submit" class="search-submit" />
    </form>

</div>
<div class="daxiao">
    <h2>时事新闻</h2>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <a href="#">
                <div class="thumbnail">
                    <div class="writer_tu_image">
                        <img src="~/Content/NewsImage/背景.PNG" />
                    </div>
                    <div class="caption">
                        <h3>这个是标题这个是标题这个是标题</h3>
                        <p><div>点击数</div><div>评论数</div></p>
                        <p><div>时间</div></p>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>
